/* Здесь необходимо написать стили, при которых будут моргать глаза, работаем исключительно в @keyframes. остальные стили не трогаем*/
@keyframes box {
  0%{
    height: 0px;
  }
  50%{
    height: 100px;
  }
  100%{
    height: 0px;
  }
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.eyes{
  display: flex;
  height: 120px;
  align-items: center;
}
.box{
  overflow: hidden;
  width: 100px;
  height: 100px;
  background-color: #000;
  margin: 10px;
  animation: box 2s ease-in-out infinite;
  transition: 5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.point{
  width: 10px;
  height: 10px;
  background-color: #FFF;
}
.stick{
  width: 200px;
  height: 10px;
  background-color: #000;
  margin: 20px;
  margin-top: 50px;
}

.traffic-light{
  width: 150px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.traffic-light .circle{
  width: 100px;
  height: 100px;
  margin: 10px 0;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #FFF;
}

/* Тут пишем стили для анимации светофора, сначала должен загореться красный, потухнуть, затем должен загореться желтый, потухнуть и тд
для каждого цвета светофора есть свой keyframes, нужно работать в каждом из них*/

@keyframes red {
  0%{
    background-color: red;
  }
  33.33%{
    background-color: black;
  }
  66.66%{
    background-color: black;
  }
/*   100%{
  } */
}
@keyframes yellow {
  0%{
    background-color: black;
  }
  33.33%{
    background-color: yellow;
  }
  66.66%{
    background-color: black;
  }
/*   100%{
  } */
}
@keyframes green {
  0%{
    background-color: black;
  }
  33.33%{
    background-color: black;
  }
  66.66%{
    background-color: green;
  }
/*   100%{
  } */
}

.traffic-light .red{
  background-color: red;
  animation: red 5s ease-in-out infinite;
}
.traffic-light .yellow{
  animation: yellow 5s ease-in-out infinite;
  background-color: yellow;
}
.traffic-light .green{
  animation: green 5s ease-in-out infinite;
  background-color: green;
}
